[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = "*"
pymongo = "*"
dnspython = "*"
youtube_dl = "*"
PyNaCl = "*"
requests = "*"
nltk = "*"

[dev-packages]

[requires]
python_version = "3.9"
