[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = "*"
pymongo = "*"
dnspython = "*"
youtube-dl = "*"
pynacl = "*"
nltk = "*"
torch = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.8"
