aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==21.2.0
chardet==4.0.0
click==8.0.1
discord==1.0.1
discord.py==1.7.2
idna==3.1
joblib==1.0.1
multidict==5.1.0
nltk==3.6.2
numpy==1.20.3
pymongo==3.11.4
regex==2021.4.4
torch==1.8.1
tqdm==4.60.0
typing-extensions==3.10.0.0
yarl==1.6.3