aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==21.2.0
cffi==1.14.5
chardet==4.0.0
click==8.0.1
discord.py==1.7.2
dnspython==2.1.0
ffmpeg==1.4
idna==3.2
joblib==1.0.1
multidict==5.1.0
nltk==3.6.2
numpy==1.20.3
pycparser==2.20
pymongo==3.11.4
PyNaCl==1.4.0
regex==2021.4.4
six==1.16.0
torch==1.8.1
tqdm==4.61.0
typing-extensions==3.10.0.0
yarl==1.6.3
youtube-dl==2021.6.6
