@use "../abstracts/mixins";

.buttons {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 20px;
}

.invite-btn {
    @include mixins.primary_button(calc(.8vw + 8px), calc(4vw + 20px));
}

.support-btn {
    @include mixins.secondary_button(calc(.8vw + 8px), calc(4vw + 20px));
}
