@use "../abstracts/mixins";

.buttons {
    gap: 2%;
    display: flex;
    align-items: center;
}

.invite-btn {
    @include mixins.primary_button(.8em, 3rem);
}

.support-btn {
    @include mixins.secondary_button(.8em, 1rem);
}
