@use "../abstracts/mixins";

.buttons {
    gap: 30px;
    display: flex;
    align-items: center;
}

.invite-btn {
    @include mixins.primary_button(calc(.8vw + 5px), 15%);
}

.support-btn {
    @include mixins.secondary_button(calc(.8vw + 5px), 10%);
}
