@use "../abstracts/variables";

.nav {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    padding: 30px;

    a {
        margin: 2vw;
        color: rgba(variables.$text, 75%);
        font-size: 1.2em;
        transition: .1s ease;

        &:hover {
            color: variables.$text;
        }
    }
}
