@use "../abstracts/mixins";


.spike1 {
   @include mixins.spike(-20deg, -30%, 20%);
   right: 5vw;
   top: 8vh;
}

.spike2 {
   @include mixins.spike(-20deg, 30%, -20%);
   left: -5vw;
   top: 40vh;
}

.spike3 {
   @include mixins.spike(20deg, -30%, -20%);
   right: 5vw;
   top: 60vh;
}

