@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

body {
    font-size: clamp(12px, 1vw, 16px);
    font-family: 'Poppins', sans-serif;
}

h1, h2 {
    color: white;
}


p {
    color: rgb(230, 230, 230);
    font-size: 1.2em;
}

#line{
    background: rgb(170, 170, 170);
    height: 1px;
    width: 100%;
    margin: 1rem 0;
    grid-area: line;
}

#separator {
    margin: 10px;
}