@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

body {
    font-size: clamp(12px, 1vw, 16px);
    font-family: 'Poppins', sans-serif;
}

h1, h2 {
    color: white;
}


p {
    color: rgb(204, 204, 204);
    font-size: 1.2em;
}

#line{
    background: white;
    height: 2px;
    width: 100%;
    margin: 10px 10px;
}