@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

body {
    font-size: clamp(12px, 1vw, 16px);
    font-family: 'Poppins', sans-serif;
}

h1 {
    width: max-content;
    height: max-content;
    color: white;
    font-size: 3em;
    margin-bottom: 20px;
}


p {
    color: rgb(204, 204, 204);
    font-size: 1.2em;
    padding: 0 10px;
    text-align: center;
}
