@import 'vars.scss';

* {
    padding: 0;
    margin: 0;
    outline: None;
    border: None;
    list-style: none;
    text-decoration: none;
}
html, body{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    background-color: $bg;   
    font-family: $font
}

h1{
    color: white;
    font-size: calc(2vw + 20px);
    margin-bottom: 20px;
}
p{
    color: rgb(204, 204, 204);
    font-size: calc(1vw + 8px);
    padding: 0px 10px;
    text-align: center;
    word-wrap: break-word;
}

.main{
    align-items: center;
    text-align: center;
    margin-top: 5%;
}  
.buttons a{
    display: inline-block;
    margin: 3%;
}
.buttons{
    margin-top: 40px;
}

.invite-btn {
    @include primary_button(calc(.8vw + 8px), calc(4vw + 20px));
}
.support-btn {
    @include secondary_button(calc(.8vw + 8px), calc(4vw + 20px));
}