.main {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(10, 50%);
    grid-gap: 2rem;
    grid-template-areas: 
    "head_text head_text . ."
    ". . . ."
    "logo desc desc desc"
    "logo buttons buttons buttons"
    ". . . ."
    ". features features features"
    ". line line line"
    ". . source .";
}


h1 {
    justify-self: center;
    font-size: 2em;
    grid-area: head_text;
}

img {
    justify-self: flex-end;
    align-self: center;
    width: 10em;
    grid-area: logo;
    
}

.description {
    grid-area: desc;
    & > h2{
        font-size: 2.5em;
    }

}

.buttons {
    grid-area: buttons
}

.features {
    grid-area: features;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.source{
    grid-area: source;
    display: flex;
    justify-self: center;
    gap: 5px;
    & > img{
        width: 2rem;
        transition: .4s ease-in-out;
    }
    & > p{
        transition: .4s ease-in-out;
    }
    &:hover > img{
        transform: rotate(-360deg);
    }
    &:hover > p{
        transform: translate(10px);

    }
}
