.main {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 50%);
    grid-column-gap: 2rem;
}
h1 {
    justify-self: center;
    grid-column: 1 / 4;
}

img {
    justify-self: end;
    width: calc(10vw + 50px);
    grid-row: 2 / 4;
    
}

.description {
    grid-column: 2 / 6;
    grid-row: 2;
}

.buttons {
    grid-column: 2 / 5;
    grid-row: 3;
}

.features {
    display: flex;
    grid-column: 2/6;
    grid-row: 6;
    justify-content: space-around;
    flex-wrap: wrap;

}
