@use "variables";

@mixin primary_button($height, $width) {
    background: variables.$main;
    color: white;

    padding: $height $width;

    font-size: 1em;
    font-family: inherit;

    text-align: center;
    line-height: $height;

    border-radius: 0.3em;
    box-shadow: 0 0 30px variables.$main;

    transition: all .3s ease-in-out;

    &:hover {
        background: variables.$light_main;
        box-shadow: 0 0 20px variables.$light_main;

        cursor: pointer;
        transform: translate(0px, -.8rem);
    }
}

@mixin secondary_button($height, $width) {
    background: transparent;
    color: white;

    padding: $height $width;
    border: 2px solid variables.$main;

    font-size: 1em;
    font-family: inherit;

    text-align: center;
    line-height: $height;

    border-radius: 0.3em;
    box-shadow: 0 0 30px variables.$main;

    transition: all .3s ease-in-out;

    &:hover {
        border: 2px solid variables.$light_main;
        background: variables.$light_main;
        box-shadow: 0 0 20px variables.$light_main;

        cursor: pointer;
        transform: translate(0px, -.8rem);
    }
}

@mixin spike($angle, $rotation1, $rotation2) {
    position: absolute;
    padding: 40px 0px;
    transition: .5s ease;
    &:hover {
        transform: translate($rotation1, $rotation2);
    }
    &:hover > *{

            background: variables.$lightest_main;
    }
    & > * {
        transition: .1s ease;
        background: variables.$light_main;
        width: 10vw;
        height: 2px;
        transform: rotate($angle);
    }
}
