@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

$font: 'Poppins', sans-serif;

//colours
$bg: #121212;

$main: #005ed8;
$light_main: #0084ff;
$disabled_btn: #2E4567;


@mixin primary_button($height, $width) {
    padding: $height $width;
    background: $main;
    color: white;
    font-family: $font;
    font-size: calc(1.2vw + 10px);
    text-align: center;
    line-height: $height;
    border-radius: calc(1.5vh - 5px);
    transition: all .2s ease-in-out;
    box-shadow: 0 0 40px $main;
    &:hover {
        cursor: pointer;
        box-shadow: 0 0 30px $light_main;
        background: $light_main;
        transform: translate(0px, -5px);
    }
}

@mixin secondary_button($height, $width) {
    padding: $height $width;
    border: 2px solid $main;
    background: none;
    color: white;
    font-family: $font;
    font-size: calc(1.2vw + 10px);
    text-align: center;
    line-height: $height;
    border-radius: calc(1.5vh - 5px);
    transition: all .2s ease-in-out;
    box-shadow: 0 0 40px $main;
    &:hover {
        cursor: pointer;
        box-shadow: 0 0 30px $light_main;
        border: 2px solid $light_main;
        transform: translate(0px, calc(-5px));
    }
}
