.nav{
    height: 8vh;
    padding: 10px;
}

.links a{
    margin: 1rem;
    color: rgb(197, 197, 197);
    font-size: calc(.8vw + 8px);
    transition: .2s ease;
    &:hover{
        color: rgb(255, 255, 255);
    }
}

.links{
    display: flex;
    justify-content: center;
}
